<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/css.css">
    <link rel="stylesheet" href="/public/css/form.css">
</head>
<body>
<header>
    <div class="left"> 用户管理系统</div>
    <div class="right"> 欢迎登陆 admin | 退出</div>
</header>
<div class="slide">
    <ul>
        <li>用户信息</li>
    </ul>
</div>
<div class="content">
    <div class="box">
        <div class="top">添加信息</div>
        <form action="/edit" method="post">
            <!--
            用来放一些不希望被用户看见，但是需要被提交到服务端的数据
           -->
            <input type="hidden" name="id" value="{{ user.id }}">
            <table>
                <tr>
                    <td>姓名：</td>
                    <td><input type="text" class="text" name="name" value="{{ user.name }}"></td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td>
                        {{ if user.gender == 0 }}
                        男：<input type="radio" name="gender" value="0" checked>
                        女：<input type="radio" name="gender" value="1">
                        {{ else }}
                        男：<input type="radio" name="gender" value="0" >
                        女：<input type="radio" name="gender" value="1" checked>
                        {{ /if }}
                    </td>
                </tr>
                <tr>
                    <td>年龄：</td>
                    <td><input type="number" class="text" name="age" value="{{ user.age }}"></td>
                </tr>
                <tr>
                    <td>爱好：</td>
                    <td><input type="text" class="text" name="hobbies" value="{{ user.hobbies }}"></td>
                </tr>
                <tr>
                    <td>职位：</td>
                    <td><input type="text" class="text" name="job" value="{{ user.job }}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="提交" class="button">
                        <input type="reset" value="重置" class="button">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>