<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/public/css/css.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <header>
        <div class="left"> 用户管理系统</div>
        <div class="right"> 欢迎登陆 admin | 退出</div>
    </header>
    <div class="slide">
        <ul>
            <li>用户信息</li>
        </ul>
    </div>
    <div class="add">
        <a href="/add">添加用户</a>
    </div>
    <div class="content">
        <table cellspacing="0">
            <thead>
                <tr>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>年龄</td>
                    <td>爱好</td>
                    <td>职位</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
            {{ each users }}
                <tr>
                    <td>{{ $value.name }}</td>
                    {{if $value.gender==0 }}
                    <td>男</td>
                    {{ else }}
                    <td>女</td>
                    {{ /if }}
                    <td>{{ $value.age }}</td>
                    <td>{{ $value.hobbies }}</td>
                    <td>{{ $value.job }}</td>
                    <td>
                        <!-- 注意这里 id={{  }} 的=(这个等号)前后不能打空格 不能打成 id = {{  }}
                            因为打了空格就相当于加了字符串空格，获取的id会有误 -->
                        <a href="/edit?id={{ $value._id }}">编辑</a>
                        <a href="/delete?id={{ $value._id }}">删除</a>
                    </td>
                </tr>
            {{ /each }}
            </tbody>
        </table>
    </div>
</body>
</html>